// SECTION based :: START

section#a-based.a-based
  .c-grid
    .a-based__wrapper

      p.a-based__title!= "We are based in South Africa with global expertise"
      p.a-based__text!= "Our headquarters are in Sandton with an International business reach. IFX Brokers is a trading name of IFX Brokers Holdings (Pty) Ltd (Registration No. 2017/027249/07). IFX Brokers Holdings (Pty) Ltd is an Issuer of CFDs and acts as counterparty to client transactions. Our distribution and market conduct is regulated by the Financial Sector Conduct Authority (Authorized Financial Services Provider number 48021). The issuance of CFD’s is regulated by The Financial Markets Act, 2012."

      .a-based__img
        img(src="./img/img-based-map.png" srcset='./img/img-based-map@2x.png 2x' alt="" title="")

// SECTION based :: END