// SECTION main :: START

section#a-main.a-main
  .c-grid
    .a-main__wrapper

      h1.a-main__title!= "It’s all about trading -<br>because that’s what we do."
      h1.a-main__subtitle!= "There's a reason why we are retail traders' first choice."

// SECTION main :: END