// SECTION simple :: START

section#a-simple.a-simple
  .c-grid
    .a-simple__wrapper
      .a-simple__wrapper-left

        p.a-simple__title!= "It’s simple"
        p.a-simple__subtitle!= "Talent meets technology"

      .a-simple__wrapper-right

        p.a-simple__desc.a-simple__desc--pb!= "We facilitate a one stop trading and investing experience for private and institutional clients, providing access to global markets and a broad range of asset classes and tradeable instruments."
        p.a-simple__desc!= "Motivated by service excellence, a diverse range of investment offerings, state- of-the-art technology and competitive spreads, we offer a world class online trading experience."

// SECTION simple :: END