---
title: Private and Institutional Clients Trading Platforms | IFX Brokers

pageClassName: p-new-about
---
extends shared/_layout

block content
  div.body(class!= pageClassName)

    #fullpage
      include ./components/_main
      include ./components/_simple
      include ./components/_values
      include ./components/_based
      include ./components/_team