// SECTION based :: START

.a-based {
  background-color: #212121;

  @include adaptive(767) {
    display: block !important;
    height: auto !important;

    > div {
      height: auto !important;
      @include fluid(padding-top, 320px, 767px, 75px, 100px);
      @include fluid(padding-bottom, 320px, 767px, 75px, 100px);
    }
  }

  .c-grid {
    max-width: 1700px;
  }

  &__wrapper {
    @include respond(medium) {
      padding-top: 50px;
      padding-bottom: 50px;
    }
  }

  &__title {
    padding-bottom: 20px;
    font-weight: bold;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    @include fluid(font-size, 320px, 1600px, 38px, 60px);
  }

  &__text {
    width: 100%;
    max-width: 1120px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'SF Pro Text', sans-serif;
    font-size: 18px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    line-height: line-height-convert(26, 18);
  }

  &__img {
    @media screen and (max-height: 900px) {
      height: 570px;
    }
    @media screen and (max-height: 800px) {
      height: 470px;
    }
    @media screen and (max-width: 767px) and (min-height: 0) {
      height: auto;
    }

    img {
      display: block;
      max-width: 100%;
      //height: auto;
      max-height: 100%;
      margin-left: auto;
      margin-right: auto;
      mix-blend-mode: lighten;
    }
  }
}

// SECTION based :: END