// SECTION main :: START

.a-main {
  min-height: 100vh;
  //padding-top: 279px;
  padding-bottom: 100px;
  background-image: url('../img/img-main-bg.jpg');
  background-repeat: no-repeat;
  background-position: bottom right;
  @include fluid(padding-top, 320px, 1600px, 140px, 279px);
  @include fluid(padding-bottom, 320px, 1600px, 75px, 100px);

  @include adaptive(767) {
    min-height: 0;
    background-size: contain;
  }

  .c-grid {
    max-width: 1350px;
  }

  &__title {
    font-weight: bold;
    color: #000000;
    letter-spacing: 0;
    line-height: line-height-convert(110, 100);
    @include fluid(padding-bottom, 320px, 1600px, 30px, 60px);
    @include fluid(font-size, 320px, 1600px, 50px, 100px);

    br {
      @include adaptive(767) {
        display: none;
      }
    }
  }

  &__subtitle {
    width: 100%;
    max-width: 535px;
    font-weight: bold;
    color: #F40830;
    letter-spacing: 0;
    line-height: line-height-convert(70, 60);
    @include fluid(font-size, 320px, 1600px, 38px, 60px);
  }
}

// SECTION main :: END