// SECTION main :: START

.a-main {
  background-color: #FFFFFF;
  background-image: url('../img/img-main-bg.jpg');
  background-repeat: no-repeat;
  background-position: bottom right;

  @include adaptive(767) {
    display: block !important;
    height: auto !important;
    background-size: contain;

    > div {
      height: auto !important;
      padding-top: 125px;
      @include fluid(padding-bottom, 320px, 767px, 75px, 100px);
    }
  }

  .c-grid {
    max-width: 1380px;
  }

  &__title {
    font-weight: bold;
    color: #000000;
    letter-spacing: 0;
    line-height: line-height-convert(110, 100);
    @include fluid(padding-bottom, 320px, 1600px, 30px, 60px);
    @include fluid(font-size, 320px, 1600px, 50px, 100px);

    br {
      @include adaptive(767) {
        display: none;
      }
    }
  }

  &__subtitle {
    width: 100%;
    max-width: 535px;
    font-weight: bold;
    color: #F40830;
    letter-spacing: 0;
    line-height: line-height-convert(70, 60);
    @include fluid(font-size, 320px, 1600px, 38px, 60px);
  }
}

// SECTION main :: END