// SECTION _t.scss :: START

.a-team {
  display: flex;
  align-items: center;
  min-height: 100vh;
  @include fluid(padding-top padding-bottom, 320px, 1600px, 75px, 100px);

  .c-grid {
    max-width: 1670px;
  }

  &__title {
    font-weight: bold;
    color: #000000;
    letter-spacing: 0;
    text-align: center;
    @include fluid(padding-bottom, 320px, 1600px, 35px, 70px);
    @include fluid(font-size, 320px, 1600px, 44px, 70px);
  }

  &__info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 80px;
    @include adaptive(767) {
      flex-wrap: wrap;
    }

    &-col {
      width: 100%;
      max-width: calc((100% / 3) - 20px);
      @include adaptive(767) {
        max-width: 100%;
        padding-bottom: 30px;
        text-align: center;

        &:last-of-type {
          padding-bottom: 0;
        }
      }

      p {
        font-weight: bold;
        color: #000000;
        letter-spacing: 0;
        @include fluid(padding-bottom, 320px, 1600px, 20px, 33px);
        @include fluid(font-size, 320px, 1600px, 30px, 40px);
      }

      span {
        font-family: 'SF Pro Text', sans-serif;
        font-size: 18px;
        color: #000000;
        letter-spacing: 0;
        line-height: line-height-convert(28, 18);
      }
    }
  }

  &__slider {
    width: 100%;
    max-width: 1390px;
    margin-left: auto;
    margin-right: auto;

    .swiper {
      &-container {
        padding-left: 30px;
        padding-right: 30px;
      }

      &-slide {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        width: 300px;
        height: 400px;
        background-color: #000;

        &-info {
          padding-bottom: 20px;

          p {
            font-family: "SF Pro Text", sans-serif;
            font-weight: bold;
            font-size: 22px;
            color: #FFFFFF;
            letter-spacing: 0;
            text-align: center;
            line-height: 22px;
          }

          span {
            display: block;
            opacity: 0.7;
            text-transform: uppercase;
            font-family: "SF Pro Text", sans-serif;
            font-weight: 500;
            font-size: 12px;
            color: #FFFFFF;
            letter-spacing: 0;
            text-align: center;
            line-height: 22px;
          }
        }
      }

      &-button {
        &-prev,
        &-next {
          overflow: hidden;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 60px;
          height: 60px;
          border-radius: 100%;
          background-color: #F3323D;
          background-image: none;

          font-family: "iconFont", sans-serif;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          font-style: normal;
          font-variant: normal;
          font-weight: normal;
          text-decoration: none;
          text-transform: none;
          color: #FFFFFF;
        }

        &-prev {
          left: 0;

          &:before {
            content: "\E001";
          }
        }

        &-next {
          right: 0;

          &:before {
            content: "\E001";
            transform: rotate(-180deg);
          }
        }
      }
    }
  }
}

// SECTION _t.scss :: END